 $primary: rgb(103, 187, 103);
 $darkPrimary: darken($primary, 15%);
 $white: rgb(236, 236, 236);
 $darkWhite: darken($white, 15%);
 $black: rgb(68, 63, 63);
 $darkBlack: darken($black, 15%);
 $lightBlack: lighten($black, 15%);
 $background: rgb(195, 241, 202);
